<%- include('head') %>
<%- include('menu') -%>
<div class="main-container">
<% entries.forEach((entry) => { %>
<div class="card mb-5 ml-5 mr-5">
  <div class="card-body">
    <h5 class="card-title"><%= entry.title %></h5>
    <p class="card-text"><%= entry.body %></p>
    <p class="card-text">
      <small class="text-muted float-left post-date"><%= entry.date %></small>
      <small class="text-muted float-right">Post by <%= entry.username %></small>
    </p>
  </div>
</div>
<% }) %>
</div>
<script src="javascripts/bundle.js"></script>
<%- include('foot') %>
