<%- include('head') %>
<%- include('menu') -%>

<div class="main-content">
  <div class="login-form shadow">
    <h1><%= title %></h1>
    <hr>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label> <br>
        <input class="form-control input-lg" type="text" name="user[name]"/>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label> <br>
        <input class="form-control input-lg" type="password" name="user[pass]"/>
      </div>
      <input type="submit" value="Login" />
      <hr>
      <%- include('messages') -%>
      <hr>
      <!-- <button type="button" class="btn btn-link">Forgot Password</button> <br> -->
      <label>Don't have an account?</label>
      <a type="button" class="btn btn-link" href="/register">Sign Up!</a>
    </form>
  </div>
</div>

<%- include('foot') %>
