<%- include('head') -%>
<%- include('menu') -%>
<div class="main-content">
  <div class="post-form">
  <h1><%= title %></h1>
  <hr>
  <form action='/post' method='post'>
      <div class="form-group">
        <label for="entry-text">Title:</label>
        <input class="form-control input-lg" id="entry-title" type="text" name="entry[title]" />
      </div>
      <div class="form-group">
        <label for="entry-text">Thoughts:</label>
        <textarea class="form-control" rows="5" id="entry-text" name="entry[body]"></textarea>
      </div>
      <hr>
      <%- include('messages') %>
      <label>Stay incognito <input type="checkbox" name="entry[incognito]"></label> <br>
      <input type='submit' value='Post' />
  </form>
  <%- include('foot') -%>
