<%- include('head') %>
<%- include('menu') -%>

<div class="main-content">
  <div class="login-form">
    <h1><%= title %></h1>
    <hr>
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label> <br>
        <input class="form-control input-lg" type="text" name="user[name]"/>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label> <br>
        <input class="form-control input-lg" type="password" name="user[pass]"/>
      </div>
      <input type="submit" value="Sign Up!" />
      <hr>
      <%- include('messages') -%>
    </form>
  </div>
</div>

<%- include('foot') %>
